In [ ]:
##### Contents:
###### 1. Import Libraries

#### 4.6 Merging and Exporting Data

##### Contents:
###### 1. Import Libraries
###### 2. Import data
###### 3. Check Output
###### 4. Merge dataframes: df_ords &  df_ords_combined
###### 5. Export dataframe

#### 01. Import libraries

In [13]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [15]:
path = r'C:\Users\Daniella\ACH4 - Instacart Basket Analysis'

#### 02. Import data

In [17]:
# Import dataframe
df_ords = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'orders_checked(new).csv'), index_col = False)

In [19]:
df_ords_prior = pd.read_csv(os.path.join(path, '02. Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [101]:
##Check dtypes for df_orders_checked(new):
print(df_ords.dtypes)

order_id                    int32
user_id                     int32
order_number                int32
orders_day_of_the_week      int32
order_hour_of_day           int32
days_since_prior_order    float32
dtype: object

In [21]:
#### Convert df_orders_checked(new) dataframe to int32 and float32
df_ords['order_id'] = df_ords['order_id'].astype('int32')

In [23]:
df_ords['user_id'] = df_ords['user_id'].astype('int32')

In [25]:
df_ords['order_number'] = df_ords['order_number'].astype('int32')

In [27]:
df_ords['orders_day_of_the_week'] = df_ords['orders_day_of_the_week'].astype('int32')

In [29]:
df_ords['order_hour_of_day'] = df_ords['order_hour_of_day'].astype('int32')

In [31]:
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].astype('float32')

In [103]:
##Check dtypes for orders_products_prior:
print(df_ords_prior.dtypes)

order_id             int32
product_id           int32
add_to_cart_order    int32
reordered            int32
dtype: object

In [59]:
#### Convert orders_products_prior dataframe to int32 and float32
df_ords_prior['order_id'] = df_ords_prior['order_id'].astype('int32')

In [61]:
df_ords_prior['product_id'] = df_ords_prior['product_id'].astype('int32')

In [63]:
df_ords_prior['add_to_cart_order'] = df_ords_prior['add_to_cart_order'].astype('int32')

In [65]:
df_ords_prior['reordered'] = df_ords_prior['reordered'].astype('int32')

#### 03. Check Output

In [71]:
#Check the output: df_ords
df_ords.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [73]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [81]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [75]:
df_ords.shape

(3421083, 6)

In [85]:
df_ords_prior.shape

(32434489, 4)

#### 4. Merge dataframes: df_ords &  df_ords_combined

In [87]:
#Merge df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [89]:
#Output of merged dataframe
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [91]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

#### 5. Export dataframe:

In [113]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02. Data','Prepared Data', 'orders_products_combined(new).pkl'))