##### Contents:
###### 1. Import Libraries
###### 2. Import data
###### 3. Convert df_prods dataframe to int32 and float32
###### 4. Convert df_ords_prods_combined dataframe to int32 and float32
###### 5. Check Outputs
###### 6. Merge dataframes - df_prods + df_ords_combined
###### 7. Export dataframe

#### 01. Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\Daniella\ACH4 - Instacart Basket Analysis'

#### 02. Import data

In [5]:
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02. Data' , 'Prepared Data' , 'orders_products_combined(new).pkl'))

In [6]:
df_prods = pd.read_csv(os.path.join(path, '02. Data' , 'Prepared Data', 'products_checked(new).csv'), index_col = False)

#### 03. Convert df_prods dataframe to int32 and float32

In [11]:
# Convert the 'product_id' column to int32
df_prods['product_id'] = df_prods['product_id'].astype('int32')

In [13]:
# Convert the 'aisle_id' column to int32
df_prods['aisle_id'] = df_prods['aisle_id'].astype('int32')

In [15]:
# Convert the 'prices' column to float32
df_prods['prices'] = df_prods['prices'].astype('float32')

In [17]:
# Convert the 'department_id' column to int32
df_prods['department_id'] = df_prods['department_id'].astype('int32')

In [21]:
# Drop unnecessary columns,
df_prods = df_prods.drop(['Unnamed: 0'], axis=1)

In [24]:
##Check dtypes for df_prods:
print(df_prods.dtypes)

product_id         int32
product_name      object
aisle_id           int32
department_id      int32
prices           float32
dtype: object

#### 04. Convert df_ords_prods_combined dataframe to int32 and float32

In [ ]:
# Drop unnecessary columns:
df_ords_prods_combined = df_ords_prods_combined.drop(['_merge'], axis=1)

In [28]:
print(df_ords_prods_combined.dtypes)

order_id                    int32
user_id                     int32
order_number                int32
orders_day_of_the_week      int32
order_hour_of_day           int32
days_since_prior_order    float32
product_id                  int32
add_to_cart_order           int32
reordered                   int32
dtype: object

In [30]:
# Convert the 'order_id' column to int32
df_ords_prods_combined['order_id'] = df_ords_prods_combined['order_id'].astype('int32')

In [32]:
# Convert the 'user_id' column to int32
df_ords_prods_combined['user_id'] = df_ords_prods_combined['user_id'].astype('int32')

In [34]:
# Convert the 'order_number' column to int32
df_ords_prods_combined['order_number'] = df_ords_prods_combined['order_number'].astype('int32')

In [36]:
# Convert the 'order_dow' column to int32
df_ords_prods_combined['orders_day_of_the_week'] = df_ords_prods_combined['orders_day_of_the_week'].astype('int32')

In [38]:
# Convert the 'order_hour_of_day' column to int32
df_ords_prods_combined['order_hour_of_day'] = df_ords_prods_combined['order_hour_of_day'].astype('int32')

In [40]:
df_ords_prods_combined['days_since_prior_order'] = df_ords_prods_combined['days_since_prior_order'].astype('float32')

In [42]:
df_ords_prods_combined['product_id'] = df_ords_prods_combined['product_id'].astype('int32')

In [44]:
df_ords_prods_combined['add_to_cart_order'] = df_ords_prods_combined['add_to_cart_order'].astype('int32')

In [46]:
df_ords_prods_combined['reordered'] = df_ords_prods_combined['reordered'].astype('int32')

### 05. Check Outputs

In [48]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [65]:
df_prods.shape

(49672, 5)

In [78]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [58]:
df_ords_prods_combined.shape

(32434489, 9)

#### 06. Merge dataframes - df_prods + df_ords_combined

In [62]:
df_ords_prods_merge = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [54]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [7]:
#Confirm the results of the merge using the merge flag.
df_ords_prods_merge['_merge'].value_counts()

NameError: name 'df_ords_prods_merge' is not defined

#### 07. Import libraries

In [68]:
# Export data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02. Data','Prepared Data', 'ords_prods_merge(new).pkl'))